extends _template

block main
	.container
		.first-screen
			.first-screen__header Семейные приключения
			.first-screen__after-header в  любую  погоду
			a(href="#").btn.btn--primary.btn--lg Узнать больше о парке
		.text-section.background-map
			.text-section-header
				| НОВЫЙ ФОРМАТ СЕМЕЙНОГО ОТДЫХА
				.text-section-header__desc Цель  развития: 15парков  в  России  в  2018г
			.text-section-text
				p В этот раз все было иначе. Огнетушитель остался, и записки белели на всех доступных и недоступных поверхностях, но в обстановке кабинета что-то изменилось. Что-то, не связанное с мебелью и с исчезнувшей куклой. Акула сидел под огнетушителем и копался в бумагах. Сухой, пятнистый и мохнатый, как поросший лишайником пень. Брови, тоже пятнистые, серые и мохнатые, свисали на глаза грязными сосульками. Перед ним была папка.
				p В этот раз все было иначе. Огнетушитель остался, и записки белели на всех доступных и недоступных поверхностях, но в обстановке кабинета что-то изменилось. Что-то, не связанное с мебелью и с исчезнувшей куклой.
		.circle-blocks
			.circle-blocks__wrap
				.circle-blocks__item: .circle-block
					.circle-block-text__1 одна территория
					.circle-block-text__2 ОДИН БИЛЕТ
					.circle-block-text__3 на все день
				.circle-blocks__item: .circle-block.circle-block--small
					.circle-block-text__1 семейное
					.circle-block-text__2 КАФЕ
				.circle-blocks__item: .circle-block
					.circle-block-text__1 Современный формат
					.circle-block-text__2 отдыха 
					.circle-block-text__3 для всей семьи
				.circle-blocks__item: .circle-block.circle-block--small
					.circle-block-text__1 Эксклюзивный
					.circle-block-text__2 авторский
					.circle-block-text__3 дизайн
				.circle-blocks__item: .circle-block.circle-block--small
					.circle-block-text__1 высокое качество
					.circle-block-text__2 исполнения
				.circle-blocks__item: .circle-block
					.circle-block-text__1 отдельные комнаты
					.circle-block-text__2 для вечеринок
					.circle-block-text__3 и праздников
				.circle-blocks__item: .circle-block.circle-block--small
					.circle-block-text__1 единая концепция
					.circle-block-text__2 игровых
					.circle-block-text__3 элементов	
		// .features
			.row.justify-content-between
				.col-lg-auto.col-4: .features__item
					.features__ico
						i.icm.icon-f-ico1
					span.features__name Для детей <br> и родителей
				.col-lg-auto.col-4: .features__item
					.features__ico
						i.icm.icon-f-ico2
					span.features__name Территория <br> более 2 000м<sup>2</sup>
				.col-lg-auto.col-4: .features__item
					.features__ico
						i.icm.icon-f-ico3
					span.features__name  Живое общение, <br> активный отдых
				.col-lg-auto.col-4: .features__item
					.features__ico
						i.icm.icon-f-ico4
					span.features__name  Главное- <br>безопасность
				.col-lg-auto.col-4: .features__item
					.features__ico
						i.icm.icon-f-ico5
					span.features__name 1 000 ₽ <br> Средний чек
				.col-lg-auto.col-4: .features__item
					.features__ico
						i.icm.icon-f-ico6
					span.features__name  4 часа веселья <br>  для всей семьи
		.text-section.text-section--green
			.text-section-header Добро пожаловать в l’enfant Park!
			.text-section-text В этот раз все было иначе. Огнетушитель остался, и записки белели на всех доступных и недоступных поверхностях, но в обстановке кабинета что-то изменилось. Что-то, не связанное с мебелью и с исчезнувшей куклой. Акула сидел под <a href="#">огнетушителем</a> и копался в бумагах. Сухой, пятнистый и мохнатый, как поросший лишайником пень. Брови, тоже пятнистые, серые и мохнатые, свисали на глаза грязными сосульками. Перед ним была папка.
			.photo-carousel
				.photo-carousel__list.owl-carousel
					-for(i=0;i<10;i++)
						.photo-carousel__item
							img(src="img/photo.jpg", alt="")
		
		
		// .home-map#homeMap.mb-lg
		.home-contacts.mb-lg
			.row.align-items-center
				.col-md.col-sm-12
					.form
						.text-section-header.ta-center
							| Есть вопрос?
							.text-section-header__desc Свяжитесь  с  нами
						input(type="text" placeholder="Меня зовут...").form-el.form-el-input
						input(type="text" placeholder="Мой E-mail...").form-el.form-el-input
						input(type="submit" value="Подписаться на новости").form-el.form-el-submit
						.form-el-agree.align-items-center
							label.form-el-checkbox
								input(type="checkbox" name="agree")
								.form-el-checkbox__ico
							.form-el-agree__text Я согласен(а) на обработку <a href="#">персональных данных</a>
				.col-sm.col-12
					.home-contacts__row
						img(src="img/logo.png", alt="").home-contacts__logo
					.home-contacts__row
						p.home-contacts__title Адрес
						p г. Москва, ул. Уличная Площадь, 45б,<br> 789878
					.home-contacts__row
						p.home-contacts__title Телефон
						p +7 903 1118010
					.home-contacts__row
						p.home-contacts__title E-mail
						p info@example.com
		.home-form.text-section.text-section--green.text-section--green-reverse
			.text-section-header.ta-center
				| Подпишитесь на новости
				.text-section-header__desc Будьте  в  курсе  всех  событий!
			.text-section-form
				.form
					input(type="text" placeholder="Меня зовут...").form-el.form-el-input
					input(type="text" placeholder="Мой E-mail...").form-el.form-el-input
					input(type="submit" value="Подписаться на новости").form-el.form-el-submit
					.form-el-agree.align-items-center
						label.form-el-checkbox.form-el-checkbox--light
							input(type="checkbox" name="agree")
							.form-el-checkbox__ico
						.form-el-agree__text Я согласен(а) на обработку <a href="#">персональных данных</a>